.background    { background: #2A363B;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #E84A5F; }
.wall          { background: #FECEA8; }
.floater	   { background: #99B898; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
